<div class="container">

  <h2>Modifier mon profil :</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :first_name,
                  required: false,
                  hint: "Ne pas remplir pour ne pas modifier",
                  input_html: { autocomplete: "Nouveau prénom" } %>
      <%= f.input :last_name,
                  required: false,
                  hint: "Ne pas remplir pour ne pas modifier",
                  input_html: { autocomplete: "Nouveau nom de famille" } %>
      <%= f.input :pseudo,
                  required: false,
                  hint: "Ne pas remplir pour ne pas modifier",
                  input_html: { autocomplete: "Nouveau pseudo" } %>
      <%= f.input :phone_number,
                  required: false,
                  hint: "Ne pas remplir pour ne pas modifier" %>
      <%= f.input :avatar, as: :file %>
      <%= f.input :current_password,
                  hint: "Mot de passe à indiquer pour sauvegarder",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :password,
                  hint: "Ne pas remplir pour ne pas modifier",
                  required: false,
                  input_html: { autocomplete: "Nouveau mot de passe" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "Confirmation du nouveau mot de passe" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-flat" %>
    </div>
  <% end %>

  <p></p>
  <h3>Supprimer mon compte</h3>

  <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

  <%= link_to "Retour", :back %>
</div>
