<nav class="navbar navbar-expand-lg navbar-light bg-transparent m-0">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= cl_image_tag "Logo_papouie", style: "width: 300px; margin-top: 20px" %>
    <% end %>

    <%if current_user && params[:controller] == "offers" && params[:action] == "index" || params[:action] == "show" || params[:action] == "dashbaord" || params[:action] == "homepage" %>

    <form class="d-flex" action="<%= offers_path %>" method="GET">
      <%= form_with url: offers_path, method: :get, class: "d-flex me-2 " do %>
      <%= text_field_tag :query, params[:query], class: "search-navbar", placeholder: "Votre recherche..." %>
      <button class="btn btn-secondary ml-auto" type="submit" style="border-radius: 30px">Rechercher</button>
     <% end %>
    </form>
     <% end %>
    <button>
    <% if user_signed_in? %>
      <li class="nav-item dropdown ">
      <%= cl_image_tag current_user.avatar.attached? ? current_user.avatar.key : 'smiling_forest_girl_juuyws',
          class: "avatar rounded-circle dropdown-toggle ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "width: 65px; height: 65px; margin-top:10px" %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Propose une papouille", new_offer_path, class: "dropdown-item" %>

          <%= link_to "Mon profil", dashboard_path, class: "dropdown-item" %>

          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
        </div>
      </li>
    <% else %>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-black">
        <li class="nav-item">
          <%= link_to "Trouve une papouille", offers_path, class: "nav-link text-black" %>
        </li>
        <li class="nav-item">
          <%= link_to "Rejoins Papouille", new_user_registration_path, class: "nav-link text-black" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link text-black" %>
        </li>
      </ul>
    <% end %>
  </button>

  </div>
</nav>
