
<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)),
url('<%= cl_image_path 'smiling_forest_girl_juuyws' %>')">
  <div class="container">
    <h1><strong>Bienvenue <%= @user.first_name.capitalize %> !</strong></h1>
    <%= link_to "Modifier mon profil", edit_user_registration_path, class: "btn btn-flat" %>

  </div>
</div>

<div class="container">
  <ul>
  <div class="card-dashboard-category card" style ="margin-top: 20px">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2><strong>Mes demandes de Papouilles</strong></h2>
      <%= link_to "Trouver une papouille", offers_path, class: "btn btn-flat"%>
    </div>
    <% if @bookings.empty? == false %>
      <% @bookings.each do |booking| %>
        <div class="card-body">
          <h4>Papouille du <%= booking.start_date.strftime('%d/%m/%Y')%> </h4>
          <p>Avec <%= booking.offer.user.first_name %></p>
          <div class="booking-details">
            <% duration = (booking.end_date.day - booking.start_date.day).to_i + 1 %>
            <p>Prix total : <%= booking.offer.hourly_price * duration %> €</p>
            <% if booking.status == "pending" %>
              <span class="badge bg-info text-dark"><%= booking.status %></span>
            <% elsif booking.status == "validated" %>
              <span class="badge bg-success"><%= booking.status %></span>
            <% else %>
              <span class="badge bg-danger"><%= booking.status %></span>
            <% end %>
            <%# if booking.status == "pending" || booking.status == "validated" %>
              <%= link_to "Annuler ma demande", booking_path(booking),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            <%# end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="card-body">
        <p><em>Tu n'as pas encore fait de demande de papouille</em></p>
      </div>
    <% end %>
  </div>

  <div class="card-dashboard-category card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2><strong>Mes offres de Papouilles</strong></h2>
      <%= link_to "Proposer une papouille", new_offer_path, class: "btn btn-flat" %>
    </div>
    <% if @offers.empty? == false %>
      <% @offers.each do |offer| %>
        <div class="card-offer">
          <div class="d-flex justify-content-between align-items-center">
            <h4><%= offer.name %></h4>
            <div>
              <%= link_to "Modifier ma Papouille", edit_offer_path(offer), class: "btn-decoration btn btn-link btn-flat" %>
              <%= link_to "Supprime ta papouille", offer_path(offer),
                          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                          class: "btn-decoration btn btn-link btn-flat ml-3" %>
            </div>
          </div>
          <p class="card-offer-location"><%= offer.address %></p>
          <p class="card-offer-price">Prix : <%= offer.hourly_price %>€/jour</p>
          <p class="card-offer-reservations"><em>Réservée <%= @bookings.each {|booking| booking.offer == offer }.count %> fois</em></p>
        </div>
      <% end %>
    <% else %>
      <p class="card-offer-none"><em>Tu n'as pas encore fait d'offre de papouille</em></p>
    <% end %>
  </div>

<div class="card-dashboard-category card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2><strong>Mes requètes :</strong></h2>
  </div>

  <% if @booking_requests.empty? == false %>
    <ul class="list-unstyled">
      <li>
        <div class="card-offer">
          <h3>En attente :</h3>
          <% @pending_requests.each do |request| %>
            <p>Demande créée le <%= request.created_at.strftime('%d/%m/%Y')%></p>
            <p>Pour <%= request.offer.name %> le <%= request.start_date.strftime('%d/%m/%Y') %></p>
            <div class="text-end">
              <%= link_to "Valider", validated_booking_path(request), data: {turbo_method: :patch}, class: "btn-decoration btn btn-link btn-flat" %>
              <%= link_to "Refuser", refused_booking_path(request), data: {turbo_method: :patch}, class: "btn-decoration btn btn-link btn-flat" %>
            </div>
          <% end %>
        </div>

        <div class="card-offer">
          <h3>Acceptées:</h3>
          <% @accepted_requests.each do |request| %>
            <p>Demande créée le <%= request.created_at.strftime('%d/%m/%Y')%></p>
            <p>Pour <%= request.offer.name %> le <%= request.start_date.strftime('%d/%m/%Y') %></p>
          <% end %>
        </div>

        <div class="card-offer">
          <h3>Refusées:</h3>
          <% @refused_requests.each do |request| %>
            <p>Demande créée le <%= request.created_at.strftime('%d/%m/%Y')%></p>
            <p>Pour <%= request.offer.name %> le <%= request.start_date.strftime('%d/%m/%Y') %></p>
          <% end %>
        </div>
      </li>
    </ul>
  <% else %>
    <p class="card-offer-none"><em>Aucune requête de réservation pour le moment</em></p>
  <% end %>
</div>
