<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)),
url('<%= cl_image_path 'smiling_forest_girl_juuyws' %>')">
  <div class="container">
    <h1><strong>Découvrez les meilleur.e.s papouïeur.es.s </strong></h1>
    <p>Arrêtez d'harceller vos amis pour des papouilles!</p>
    <% if user_signed_in? %>
      <%= link_to "Propose une papouille", new_offer_path, class: "btn btn-flat" %>
    <% else %>
      <%= link_to "Deviens papouilleur.se", new_user_registration_path, class: "btn btn-flat" %>
    <% end  %>
  </div>
</div>

<div class="container">
  <% if @offers.nil? %>
    <h2>Pas encore de papouilles à <%= @query.capitalize %></h2>
  <% else %>
    <h2 class="my-4"><strong>Papouilles à <%= @query.capitalize %> : </strong></h2>
  <% end %>
</div>

<div class="container">
  <div class="cards">
      <% @offers.each do |offer| %>
        <div class="card-offer-show">
          <%= cl_image_tag offer.user.avatar.attached? ? offer.user.avatar.key : 'background_homepage_n0hfvv' %>
          <div class="card-description">
            <h3><strong><%= offer.name %></strong></h3>
            <p>À partir de <%= offer.hourly_price %>€ / jour</p>
            <div class="card-details">
              <p class="icone"><i class="fa-solid fa-star"> <%= offer.user.rating %></i></p>
              <%= link_to "En savoir plus", offer_path(offer), class: "smalltext" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
