<div class="out-container bg-light border-top border-bottom">
  <div class="container-show mt-2">
    <%= link_to "Retour aux résultats", offers_path, class: "link-secondary p-1" %>
  </div>

  <div class="container-show">
    <div class="card-show my-3 py-7 d-flex justify-content-between">
      <div class="card-show-content ">
        <h2><strong><%= @offer.name %></strong></h2>
        <% if @offer.user.rating.nil? %>
          <p><em>Pas encore de note</em></p>
        <% else %>
          <p>Sa note: <%= @offer.user.rating.to_i %>/5</p>
        <% end %>
        <%= cl_image_tag @offer.user.avatar.attached? ? offer.user.avatar.key : 'smiling_forest_girl_juuyws', crop: :fill %>
        <h3 class="mt-5"><strong>Description:</strong></h3>
        <p><%= @offer.description %></p>
        <p>Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam;</p>
      </div>

      <div class="card-booking">
        <% if current_user && @offer.user_id == current_user.id %>
          <h3><strong>Gérer son offre : </strong></h3>
          <%= link_to "Modifie ta Papouille", edit_offer_path(@offer),
                      class: "btn-decoration btn btn-secondary" %>
          <%= link_to "Supprime ta papouille", offer_path(@offer),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                      class: "btn-decoration btn btn-secondary"%>

        <% else %>
          <div class="card-booking-head border-bottom">
            <h3 class="text-center text-black">Réservez des papouilles avec <%= @offer.user.first_name.capitalize %></h3>
            <h4 class="text-center mb-3">A partir de <%= @offer.hourly_price %>€ / jour</h4>
          </div>
          <%= simple_form_for [@offer, @booking],
                              :method => 'post',
                              html: {
                                class: "form-booking",
                                data: {
                                  controller: 'flatpickr'
                                }
                              } do |f| %>
            <%= f.input :start_date,
                        as: :string,
                        input_html: {
                          data: {
                            flatpickr_target: "startDateInput",
                          }
                        }%>
            <%= f.input :end_date,
                        as: :string,
                        label: false,
                        input_html: {
                          class: 'd-none',
                          data: {
                            flatpickr_target: "endDateInput",
                          }
                        }%>
            <%= f.submit "Envoyer ma demander", class: "btn btn-flat"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-show my-3 py-7">
  <h3>Tu pourrais aimer aussi les papouilles de....</h3>
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= cl_image_path('Portraits_LeWagon_20230206_by_BenoitBillard144_nbsgau') %>)"></div>
          <div class="card-footer text-center" style="height: 200px">
            <p class="card-text">Paris</p>
            <h5 class="card-title">Papouille avec apèro maison</h5>
            <h6 class="card-subtitle mb-2 text-muted">À partir de 62€/heure</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= cl_image_path('Portraits_LeWagon_20230206_by_BenoitBillard076_myaxha') %>)">
          </div>
          <div class="card-footer text-center" style="height: 200px">
            <p class="card-text">Rome</p>
            <h5 class="card-title">Papouilles à l'ombre du Colisé</h5>
            <h6 class="card-subtitle mb-2 text-muted">À partir de 49€/heure</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= cl_image_path('Portraits_LeWagon_20230206_by_BenoitBillard087_pbghsf') %>)">
          </div>
          <div class="card-footer text-center" style="height: 200px">
            <p class="card-text">Tel-Aviv</p>
            <h5 class="card-title">Papouilles “sportive” pour se relaxer en gardant la peche</h5>
            <h6 class="card-subtitle mb-2 text-muted">À partir de 57€/heure</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= cl_image_path('Portraits_LeWagon_20230206_by_BenoitBillard077_xcasj2') %>)">
          </div>
          <div class="card-footer text-center" style="height: 200px">
            <p class="card-text">Nice</p>
            <h5 class="card-title">Papouille en humour </h5>
            <h6 class="card-subtitle mb-2 text-muted">À partir de 76 €/heure</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= cl_image_path('Portraits_LeWagon_20230206_by_BenoitBillard048_ybbxfs') %>)">
          </div>
          <div class="card-footer text-center" style="height: 200px">
            <p class="card-text">Bordeaux</p>
            <h5 class="card-title">Papouille avec cours de dance integré</h5>
            <h6 class="card-subtitle mb-2 text-muted">À partir de 577€/personne - 3 jours</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= cl_image_path('Portraits_LeWagon_20230206_by_BenoitBillard067_fuoplo') %>)">
          </div>
          <div class="card-footer text-center" style="height: 200px">
            <p class="card-text">Amsterdam</p>
            <h5 class="card-title">Papouille au bord du canal</h5>
            <h6 class="card-subtitle mb-2 text-muted">À partir de 76€/personne - 3 jours</h6>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>
